# OS-specific files
.DS_Store
Thumbs.db

# Claude
.claude

# packwiz-installer
installer/packwiz-installer.jar

# Client/server exports
dist/client/*
!dist/client/.gitkeep
dist/server/*
!dist/server/.gitkeep

# CurseForge zip files
dist/*.zip

# Modrinth modpacks
dist/*.mrpack
